@use '../../../public/styles/colors.scss' as *;

.cart-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.192);
    width: 300px;
    margin: 20px 0px 20px 0px;

    // &:hover{
    //     transform: scale(1.1);
    //     transition: all ease-in-out 0.1s;
    //     }
    .cart{
        .top-cart{
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }

    }
    .cart-center{
        margin-top: 5px;
        .price-discound{
            display: flex;
            justify-content: space-between;
            .price-trow{
                display: flex;
                gap: 10px;
                p{
                    font-weight: 700;
                    &:nth-child(1){
                        text-decoration:2px solid line-through;
                    }
                    &:nth-child(2){
                        text-decoration: none;
                    }

                }
                
            }
            .discond{
                font-weight: 500;
               
                color: red;

            }
        }
        .description{
            max-width: 250px;
            margin: 5px 0px 0px 5px;
        }
    }
    .card-buttom{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5px 0px 0px 5px;
        
        
        button{
            border-radius: 5px;
            padding: 5px;
            font-weight: 700;
            color: $white;
            letter-spacing: 0.3px;
            //box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.336);
            &:active{
                transform: scale(1.1)
            }
            display: block;
            background-color: rgb(233, 37, 30);
            width: 250px;

            // &:nth-child(1){
               
            // }
            // &:nth-child(2){
                
                
            // }
        }
        .views{
            background-color: rgb(7, 116, 189);
        }
    }
    
}